body {
  background-color: #eaf3d9;
}

#search-button {
  background-color: #9682bd;
  color: #ffff;
  margin-left: 20px;
}

#today {
  background-color: #eaf3d9;
  padding: 30px;
  border-style: none;
  border-width: 2px;
  padding: 20px;
}

button {
  padding: 5px;
  margin-top: 10px;
  background-color: #9682bd;
  color: #ffff;
  border: none;
}

ul {
  list-style-type: none;
  background-color: #dcddd9;
  padding: 20px;
  border-style: solid;
  margin-right: 35px;
  border-width: 2px;
}
